 .u-section-1 {
  background-image: linear-gradient(white, #ffcca4);
}

.u-section-1 .u-sheet-1 {
  min-height: 861px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 13px rgba(255,163,90,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 6rem;
  width: 707px;
  font-weight: 700;
  margin: 229px auto 0;
}

.u-section-1 .u-group-1 {
  width: 821px;
  min-height: 54px;
  box-shadow: 5px 5px 20px 0 rgba(168,119,80,0.4);
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.001;
  margin: 35px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 0 50px;
}

.u-section-1 .u-group-2 {
  width: 1125px;
  min-height: 308px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 120px auto 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 13px 30px 30px;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(255,163,90,0.4);
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 700;
  margin: 32px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-2 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(#ffcca4, #fff6ef);
}

.u-section-2 .u-sheet-1 {
  min-height: 645px;
}

.u-section-2 .u-group-1 {
  width: 545px;
  min-height: 545px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 12px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(255,163,90,0.4);
  margin: 30px 30px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 700;
  margin: 70px auto 0 30px;
}

.u-section-2 .u-group-2 {
  min-height: 545px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 545px;
  margin: -545px 12px 60px auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 9px;
}

.u-section-2 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(255,163,90,0.4);
  margin: 30px 0 0 42px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 700;
  margin: 70px auto 0 21px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 857px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 656px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    min-height: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 28px;
  }

  .u-section-2 .u-group-2 {
    min-height: 540px;
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    min-height: 340px;
    width: 340px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }
} .u-section-3 {
  background-image: linear-gradient(#fff6ef, #fff6ef);
}

.u-section-3 .u-sheet-1 {
  min-height: 1202px;
}

.u-section-3 .u-group-1 {
  min-height: 114px;
  box-shadow: 5px 5px 20px 0 rgba(168,119,80,0.4);
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.001;
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-list-1 {
  margin-top: 71px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 18px) calc(50% - 18px);
  min-height: 860px;
  grid-gap: 36px 36px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 11px;
}

.u-section-3 .u-icon-1 {
  height: 88px;
  width: 88px;
  --animation-custom_in-scale: 0.71;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 0 auto 0 9px;
  padding: 0;
}

.u-section-3 .u-group-2 {
  width: 516px;
  min-height: 276px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: -70px 0 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(255,163,90,0.4);
  margin: 9px 26px 0 109px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 11px;
}

.u-section-3 .u-icon-2 {
  height: 88px;
  width: 88px;
  --animation-custom_in-scale: 0.71;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 0 auto 0 9px;
  padding: 0;
}

.u-section-3 .u-group-3 {
  width: 516px;
  min-height: 276px;
  background-size: auto;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: -70px 0 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-4 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(255,163,90,0.4);
  margin: 9px 26px 0 109px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 11px;
}

.u-section-3 .u-icon-3 {
  height: 88px;
  width: 88px;
  --animation-custom_in-scale: 0.71;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 0 auto 0 9px;
  padding: 0;
}

.u-section-3 .u-group-4 {
  width: 516px;
  min-height: 276px;
  background-size: auto;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: -70px 0 0 auto;
}

.u-section-3 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-6 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(255,163,90,0.4);
  margin: 9px 26px 0 109px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 11px;
}

.u-section-3 .u-icon-4 {
  height: 88px;
  width: 88px;
  --animation-custom_in-scale: 0.71;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 0 auto 0 9px;
  padding: 0;
}

.u-section-3 .u-group-5 {
  width: 516px;
  min-height: 276px;
  background-size: auto;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: -70px 0 0 auto;
}

.u-section-3 .u-container-layout-9 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-8 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(255,163,90,0.4);
  margin: 9px 26px 0 109px;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 11px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 709px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-icon-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-3 .u-group-2 {
    margin-top: -71px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 559px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -717px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-icon-2 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-3 .u-group-3 {
    width: 290px;
    margin-top: -113px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-icon-3 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-3 .u-group-4 {
    width: 290px;
    margin-top: -113px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-icon-4 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-3 .u-group-5 {
    width: 290px;
    margin-top: -113px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    margin-right: 339px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -73px;
  }

  .u-section-3 .u-group-3 {
    margin-top: 9px;
    width: 516px;
  }

  .u-section-3 .u-group-4 {
    margin-top: 9px;
    width: 516px;
  }

  .u-section-3 .u-group-5 {
    margin-top: 9px;
    width: 516px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 159px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 11px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-3 {
    width: 345px;
    margin-top: -71px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-4 {
    width: 345px;
    margin-top: -71px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-5 {
    width: 345px;
    margin-top: -71px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 320px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    margin-top: 20px;
    width: 320px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-4 {
    margin-top: 20px;
    width: 320px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-5 {
    margin-top: 20px;
    width: 320px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}