 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 300px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 6rem;
  font-weight: 700;
  width: 510px;
  margin: 11px auto 0;
}

.u-section-1 .u-group-1 {
  width: 734px;
  min-height: 82px;
  box-shadow: 5px 5px 20px 0 rgba(168,119,80,0.4);
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.001;
  height: auto;
  margin: 17px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 -1px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 2452px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2415px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2104px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1143px;
}

.u-section-2 .u-rotation-parent-1 {
  width: 435px;
  height: 613px;
  margin: 79px 221px 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 613px;
  height: 435px;
}

.u-section-2 .u-group-1 {
  width: 553px;
  min-height: 611px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -683px auto 0 283px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.625rem;
  margin: 22px 9px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  background-image: none;
  margin: 17px 55px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -33px 22px 0 107px;
}

.u-section-2 .u-image-1 {
  width: 450px;
  height: 450px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/lapis.jpg");
  background-position: 50% 50%;
  filter: brightness(0.95);
  margin: 22px auto 0 54px;
}

.u-section-2 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.6;
  font-weight: bold;
  margin: -99px 9px 60px 533px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-rotation-parent-1 {
    height: 666px;
  }

  .u-section-2 .u-shape-1 {
    width: 666px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    width: 379px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 342px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-left: 167px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 122px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-rotation-parent-1 {
    margin-right: 105px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 16px;
    margin-left: 101px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 340px;
    height: 548px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 585px;
    height: 383px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -454px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 11px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 391px;
}

.u-section-3 .u-list-1 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 359px;
  grid-gap: 20px 20px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 24px;
}

.u-section-3 .u-image-1 {
  width: 135px;
  height: 135px;
  background-image: url("images/livro_aberto.jpg");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(217,217,217,1);
  margin: -96px auto 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 83px 6px 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 24px;
}

.u-section-3 .u-image-2 {
  width: 135px;
  height: 135px;
  background-image: url("images/janela_2.jpg");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(217,217,217,1);
  margin: -96px auto 0;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 83px 6px 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 24px;
}

.u-section-3 .u-image-3 {
  width: 135px;
  height: 135px;
  background-image: url("images/janela.jpg");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(217,217,217,1);
  margin: -96px auto 0;
}

.u-section-3 .u-text-6 {
  line-height: 1.8;
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 83px 6px 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 24px;
}

.u-section-3 .u-image-4 {
  width: 135px;
  height: 135px;
  background-image: url("images/biblioteca.jpg");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(217,217,217,1);
  margin: -96px auto 0;
}

.u-section-3 .u-text-8 {
  line-height: 1.8;
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 83px 6px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15px));
    min-height: 296px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 907px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1172px;
}

.u-section-4 .u-shape-1 {
  width: 938px;
  height: 79px;
  margin: 50px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -61px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 145px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 916px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-4 .u-icon-1 {
  height: 105px;
  width: 105px;
  --animation-custom_in-scale: 0.71;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: -105px 0 0 153px;
}

.u-section-4 .u-group-1 {
  width: 377px;
  min-height: 356px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  height: auto;
  margin: 24px 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-4 .u-icon-2 {
  height: 105px;
  width: 105px;
  --animation-custom_in-scale: 0.71;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: -105px 0 0 153px;
}

.u-section-4 .u-group-2 {
  width: 377px;
  min-height: 356px;
  background-size: auto;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  height: auto;
  margin: 24px 0 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 20px;
}

.u-section-4 .u-icon-3 {
  height: 105px;
  width: 105px;
  --animation-custom_in-scale: 0.71;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: -105px 0 0 153px;
}

.u-section-4 .u-group-3 {
  width: 377px;
  min-height: 356px;
  background-size: auto;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  height: auto;
  margin: 24px 0 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 20px;
}

.u-section-4 .u-icon-4 {
  height: 105px;
  width: 105px;
  --animation-custom_in-scale: 0.71;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: -105px 0 0 153px;
}

.u-section-4 .u-group-4 {
  width: 377px;
  min-height: 356px;
  background-size: auto;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  height: auto;
  margin: 24px 0 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-9 {
  font-weight: 400;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 755px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-group-1 {
    width: 320px;
  }

  .u-section-4 .u-group-2 {
    width: 320px;
  }

  .u-section-4 .u-group-3 {
    width: 320px;
  }

  .u-section-4 .u-group-4 {
    width: 320px;
  }
}